@media all and (max-width: 1270px) {
    .about-us img {
        width: 60%;
    }
}

@media all and (max-width: 1220px) {
    .about-us img {
        width: 70%;
    }
    #about .col1 {
        width: 55%;
    }
    #about .col2 {
        width: 45%;
    }
}

@media all and (max-width: 1140px) {
    body {
        font-size: 1.4em;
    }
    .about-us img {
        width: 75%;
    }
    #about .col1 {
        width: 60%;
    }
    #about .col2 {
        width: 40%;
    }
}

@media all and (max-width: 1050px) {
    body {
        font-size: 1.4em;
    }
    .about-us img {
        width: 90%;
    }
    #about .col1 {
        width: 65%;
    }
    #about .col2 {
        width: 35%;
    }
}

@media all and (max-width: 1028px) {
    .about-us img {
        width: 98%;
    }
}

@media all and (max-width: 950px) {
    body {
        font-size: 1.3em;
    }
    .container {
        width: 90%;
    }
}

@media all and (max-width: 906px) {
    body {
        font-size: 1.4em;
    }
    .about-us img {
        width: 100%;
        margin: 0;
    }
}

@media all and (max-width: 850px) {
    .about-us h1 {
        font-size: 1.5em;
    }
}

@media all and (max-width: 770px) {
    body {
        font-size: 1.3em;
    }
    .container {
        width: 95%;
    }
    #about .col1 {
        width: 68%;
    }
    #about .col2 {
        width: 32%;
    }
}

@media all and (max-width: 739px) {
    body {
        font-size: 1.25em;
    }
}
@media all and (max-width: 699px) {
    body {
        font-size: 1.2em;
    }
}

@media all and (max-width: 640px) {
    body {
        font-size: 1.25em;
    }
    header {
        height: 65px;
    }
    header img {
        width: 65px;
        height: 65px;
    }
    .main {
        top: 65px
    }
    .front-page img {
        width: 50%;
        position: relative;
        /*left: 0;*/
        margin: 0 auto;
    }

    #about .container {
        /*display: none;*/
    }
    .mobile {
        /*display: block;*/
    }

    #about .col1 {
        width: 65%;
    }
    #about .col2 {
        width: 35%;
    }
    #about .col1 p {
        margin-top: 0;
        line-height: 1.5;
    }
    #about .col2 img {
        border: 5px solid #525252;
        text-align: right;
        margin: 0;
        width: 100%;
        border-radius: 8px;
    }
    .about-us .col1 .p1 {
        display: none;
    }
    .about-us .p2 {
        display: block;
    }
}
@media all and (max-width: 530px) {
    body {
        font-size: 1.2em;
    }
}

@media all and (max-width: 495px) {
    body {
        font-size: 1.1em;
    }
    .container {
        width: 100%;
    }
}

@media all and (max-width: 400px) {
    body {
        background: url("../../images/magister-mini-logo.svg") center fixed no-repeat, #ffffff;
        background-size: 100%;
    }
    header, header img {
        height: 58px;
    }
    nav {
        width: 70%;
    }
    .main {
        background: rgba(255, 255, 255, 0.9);
        top: 58px;
    }
    .front-page, .about-us, #explore {
        background: transparent;
        text-align: center;
    }
    .front-page .image1 {
        /*display: none;*/
    }
    .front-page .image2 {
        /*display: block;*/
    }
    .front-page img {
        width: 75%;
        left: 0;
        margin: 0 auto;
    }
    #explore {
        width: 100%;
        /*background: rgba(255, 255, 255, 0.5);*/
        color: #474747;
        /*border-radius: 10px;*/
    }
    .about-us .col2 {
        display: none;
    }
    #about {

    }
    .about-us {
        padding: 20px 0;
        /*background: rgb(0, 170, 255);*/
    }
    .about-us .col1 {
        /*background: rgba(255, 255, 255, 0.20);*/
        text-align: left;
        padding: 10px 25px;
        width: 100%;
        margin: 0 auto;
        /*color: #ffffff;*/
    }
    .explore {
        padding: 0;
    }
    .explore h1 {
        display: none;
    }
    #explore .col1, #explore .col2 {
        width: 100%;
    }
    #explore .description p:last-child {
        display: none;
    }
    .mag-slides .boundary {
        width: 70%;
        margin: 0 auto;
    }
    #explore .col1 {
        margin-top: 30px;
    }
    #explore .description {
        top: 0;
        left: 17.5%
    }
}