.mobile {
    display: none;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

header .mobile {
    text-align: center;
    padding: 15px 0 0;
}

header .mobile img {
    width: 30%;
    margin: auto;
}